# CAMEO Code translation
This Notebook takes an export from the gdeltv2_event database as an input and translates the CAMEO codes for the events and actors into plain english.

In [1]:
import pandas as pd

In [2]:
event_mapping = pd.read_excel("cameo_event_codes.xlsx")
actor_mapping = pd.read_excel("cameo_actor_codes.xlsx")

In [3]:
event_mapping

     CAMEOEVENTCODE                                   EVENTDESCRIPTION
0                 1                              MAKE PUBLIC STATEMENT
1                10                Make statement, not specified below
2                11                                    Decline comment
3                12                           Make pessimistic comment
4                13                            Make optimistic comment
..              ...                                                ...
305             202                            Engage in mass killings
306             203                         Engage in ethnic cleansing
307             204  Use weapons of mass destruction, not specified...
308            2041   Use chemical, biological, or radiologicalweapons
309            2042                           Detonate nuclear weapons

[310 rows x 2 columns]

In [4]:
actor_mapping

   CODE                                LABEL
0   COP                        Police forces
1   GOV                           Government
2   INS                           Insurgents
3   JUD                            Judiciary
4   MIL                             Military
5   OPP                 Political Opposition
6   REB                               Rebels
7   SEP                    Separatist Rebels
8   SPY                   State Intelligence
9   UAF               Unaligned Armed Forces
10  AGR                          Agriculture
11  BUS                             Business
12  CRM                             Criminal
13  CVL                             Civilian
14  DEV                          Development
15  EDU                            Education
16  ELI                               Elites
17  ENV                        Environmental
18  HLH                               Health
19  HRI                         Human Rights
20  LAB                                Labor
21  LEG                          Legislature
22  MED                                Media
23  REF                             Refugees
24  MOD                             Moderate
25  RAD                              Radical
26  AMN                Amnesty International
27  IRC                            Red Cross
28  GRP                           Greenpeace
29  UNO                       United Nations
30  PKO                         Peacekeepers
31  UIS             Unidentified State Actor
32  IGO      Inter-Governmental Organization
33  IMG      International Militarized Group
34  INT  International/Transnational Generic
35  MNC            Multinational Corporation
36  NGM            Non-Governmental Movement
37  NGO        Non-Governmental Organization
38  UIS             Unidentified State Actor
39  SET                              Settler

In [9]:
gdelt_export = pd.read_csv("events_9_years.csv", sep=",")
gdelt_export

,EventCode,Actor1Code,Actor1Name,Actor1CountryCode,Actor2Code,Actor2Name,Actor2CountryCode,NumArticles,DATEADDED,AvgTone
0,84,LEG,SENATE,NaN,NaN,NaN,NaN,400,400,0.534764
1,60,HLH,NURSE,NaN,NaN,NaN,NaN,320,320,0.534764
2,50,MIL,MILITARY,NaN,VNM,VIETNAM,VNM,225,225,0.672878
3,841,NaN,NaN,NaN,MIL,NAVAL,NaN,248,248,0.429987
4,193,USA,TEXAS,USA,NaN,NaN,NaN,143,153,-6.493192
...,...,...,...,...,...,...,...,...,...,...
86068,20,USA,OREGON,USA,USAJUD,OREGON,USA,250,250,-2.631250
86069,70,BUS,COMPANY,NaN,NaN,NaN,NaN,250,250,1.301405
86070,25,NaN,NaN,NaN,JUD,ATTORNEY,NaN,250,250,-8.517455
86071,36,MED,WEBSITE,NaN,NaN,NaN,NaN,250,250,1.155333
86072,57,EGY,CAIRO,EGY,SDNGOV,SUDANESE,SDN,250,250,-8.526525

In [10]:
event_mapping_dict = event_mapping.set_index('CAMEOEVENTCODE')['EVENTDESCRIPTION'].to_dict()
actor_mapping_dict = actor_mapping.set_index('CODE')['LABEL'].to_dict()

In [11]:
# Iterate through the 'EventCode' column in gdelt_export
for i, row in gdelt_export.iterrows():
    event_code = row['EventCode']
    if event_code in event_mapping_dict:
        gdelt_export.at[i, 'EventPlainEnglish'] = event_mapping_dict[event_code]
    else:
        gdelt_export.at[i, 'EventPlainEnglish'] = None

counter = 0
# Iterate through the 'Actor1Code' and 'Actor2Code' columns in gdelt_export
for column in ['Actor1Code', 'Actor2Code']:
    counter += 1

    for i, row in gdelt_export.iterrows():
        actor_code = row[column]
        if actor_code in actor_mapping_dict:
            if counter == 1:
                gdelt_export.at[i, 'Actor1PlainEnglish'] = actor_mapping_dict[actor_code]
            else:
                gdelt_export.at[i, 'Actor2PlainEnglish'] = actor_mapping_dict[actor_code]
        else:
            if counter == 1:
                gdelt_export.at[i, 'Actor1PlainEnglish'] = None
            else:
                gdelt_export.at[i, 'Actor2PlainEnglish'] = None

In [12]:
gdelt_export

,EventCode,Actor1Code,Actor1Name,Actor1CountryCode,Actor2Code,Actor2Name,Actor2CountryCode,NumArticles,DATEADDED,AvgTone,EventPlainEnglish,Actor1PlainEnglish,Actor2PlainEnglish
0,84,LEG,SENATE,NaN,NaN,NaN,NaN,400,400,0.534764,"Return, release, not specified below",Legislature,NaN
1,60,HLH,NURSE,NaN,NaN,NaN,NaN,320,320,0.534764,"Engage in material cooperation, not specified ...",Health,NaN
2,50,MIL,MILITARY,NaN,VNM,VIETNAM,VNM,225,225,0.672878,"Engage in diplomatic cooperation, not specifie...",Military,NaN
3,841,NaN,NaN,NaN,MIL,NAVAL,NaN,248,248,0.429987,"Return, release person(s)",None,Military
4,193,USA,TEXAS,USA,NaN,NaN,NaN,143,153,-6.493192,Fight with small arms and light weapons,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86068,20,USA,OREGON,USA,USAJUD,OREGON,USA,250,250,-2.631250,USE UNCONVENTIONAL MASS VIOLENCE,None,None
86069,70,BUS,COMPANY,NaN,NaN,NaN,NaN,250,250,1.301405,"Provide aid, not specified below",Business,None
86070,25,NaN,NaN,NaN,JUD,ATTORNEY,NaN,250,250,-8.517455,Appeal to yield,None,Judiciary
86071,36,MED,WEBSITE,NaN,NaN,NaN,NaN,250,250,1.155333,Express intent to meet or negotiate,Media,None
86072,57,EGY,CAIRO,EGY,SDNGOV,SUDANESE,SDN,250,250,-8.526525,Sign formal agreement,None,None

In [13]:
gdelt_export.to_csv("events_9_years_decoded.csv")